@font-face {
  font-family: 'Avenir-Medium';
  src: local('Avenir-Medium'), url(./fonts/Avenir-Medium.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import "../node_modules/video-react/dist/video-react.css";

button {
  width: 20%;
  height: 150%;
  bottom: 10px;
  justify-content: center;
  position: relative;
  left: 35%;
  font-family: 'Avenir-Medium';
  font-size: 85%;
  background-color: #536878;
  color: white;
}

.dropdown-container {
 
  height: 30%;
  position: absolute;
  align-content: center;
  top: -2%;
  right: 5%;
  bottom: 100;
}

.dropdown-text {
  position: relative;
  top: 0;
  left: 35%;

}

.grid-item {
  padding-top: 25px;
}

#header {
  position: absolute;
  top: 0;
  height: 50px;
  float: right;
  bottom: 10%;
}

#header-image {
  float: left;
  width: 10%;
  height: auto;
}

.header-right {
  float: right;
  font-size: 16px;
  top: 50;
}

.header-user {
  vertical-align: middle;
  width: 20%;
  height: auto;
  font-size: 14px;
}


#hero {
  position: absolute;
  font-family: 'Avenir-Medium';
  text-decoration-color: white;
  text-align: center;
  width: 100vw;
  left: 0;
  top: 15%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
}

.hero-description{
  width: 60%;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white; 
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -275%);
}

.hero-title {
  width: 20%;
  font-family: 'Avenir-Medium';
  font-size: 35px;
  color: white; 
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -425%);
  border: 2px solid white;
  padding: 3px;
}

.navbar { 
  width: 100%;
}

#tile {
  position: relative;
  display: inline-grid;
  width: 25%;
  height: 25%;
  background-color: white;
  z-index: -1;
}

.tile-title {
  height: 10%;
  width: 45%;
  text-decoration-color: black;
  font-family: 'Avenir-Medium';
  position: relative;
  font-size: 12px;
  float: left;
  z-index: 1;
}

.tile-likes {
  position: absolute;
  top: 0;
  right: -110%;
}

.video-container {
  position: absolute;
  display: inline-grid;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  top: 65%;
  left: 0.6%;
  width: 100%;
  align-items: center;
}

.video-description {
  position: relative;
  width: 100%;
  height: auto;
}